<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../../head') %>
  <script src="/JS/jquery.serializeObject.js"></script>
  <script src="/JS/enrollWH.js"></script>
</head>

<body>
  <div class="wrap">
    <header>
      <%- include('../../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');">
        </div>
      </div>
    </header>
    <section>
      <div class="container">
        <h2 class="mt-5 mb-3">
          <%= __('pv_EnrollWH_register')%>
        </h2>
        <form action="/Provider/EnrollWH" method="post" enctype="multipart/form-data" id="enrollForm"
          onsubmit="return false;">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">
              <%= __('pv_EnrollWH_wh_name')%>
              <a style="color: #f96332;">*</a>
            </label>
            <div class="col-sm-4"><input type="text" class="form-control" id="warehouseName" name="warehouseName"
                placeholder="<%= __('pv_EnrollWH_wh_name')%>"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">
              <%= __('pv_EnrollWH_wh_address')%>
              <a style="color: #f96332;">*</a>
            </label>
            <div class="col-sm-2">
              <input
                type="text"
                class="form-control"
                id="zipcode"
                name="zipcode"
                placeholder="<%= __('pv_EnrollWH_wh_zip')%>"
                readonly>
            </div>
            <div class="col-sm-2">
              <label class="form-control btn-main" for="search_address"
                style="text-align:center; display: inline-block;">
                <%= __('pv_EnrollWH_wh_search')%>
              </label>
              <input type="button" class="upload-btn-hidden" id='search_address' name='search_address'
                onclick="sample4_execDaumPostcode()" value="Find address"><br>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                id="address"
                name="address"
                placeholder="<%= __('pv_EnrollWH_wh_address')%>"
                readonly>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label"></label>
            <div class="col-sm-8">
              <input
                type="text"
                class="form-control"
                id="addressDetail"
                name="addressDetail"
                placeholder="<%= __('pv_EnrollWH_wh_address_detail')%>">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">
              <%= __('pv_EnrollWH_email')%>  
              <a style="color: #f96332;">*</a>
            </label>
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="warehouseEmail"
                name="warehouseEmail"
                placeholder="<%= __('pv_EnrollWH_email_ph')%>">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">
              <%= __('pv_EnrollWH_tel')%>
              <a style="color: #f96332;">*</a>
            </label>
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="warehouseTel"
                name="warehouseTel"
                placeholder="<%= __('pv_EnrollWH_tel_ph')%>"></div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">
              <%= __('pv_EnrollWH_land_area')%>
              <a style="color: #f96332;">*</a>
            </label>
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="landArea"
                name="landArea"
                placeholder="<%= __('pv_EnrollWH_area_ph')%>">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">
              <%= __('pv_EnrollWH_floor_area')%>
              <a style="color: #f96332;">*</a>
            </label>
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="floorArea"
                name="floorArea"
                placeholder="<%= __('pv_EnrollWH_area_ph')%>">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">
              <%= __('pv_EnrollWH_usable_area')%>
              <a style="color: #f96332;">*</a>
            </label>
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="useableArea"
                name="useableArea"
                placeholder="<%= __('pv_EnrollWH_area_ph')%> (m²)">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">
              <%= __('pv_EnrollWH_price_per')%>
              <a style="color: #f96332;">*</a>
            </label>
            <div class="col-sm-4">
              <input
                type="text"
                class="form-control"
                id="price"
                name="price"
                placeholder="<%= __('pv_EnrollWH_price_per_ph')%>">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">
              <%= __('pv_EnrollWH_info')%>
            </label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="infoComment"
                name="infoComment"
                placeholder="<%= __('pv_EnrollWH_info_ph')%>">
              </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">
              <%= __('pv_EnrollWH_etc')%>
            </label>
            <div class="col-sm-9">
              <input
                type="text"
                class="form-control"
                id="etcComment"
                name="etcComment"
                placeholder="<%= __('pv_EnrollWH_etc')%>">
            </div>
          </div>
          <div class="col-sm-10"><input type="hidden" class="form-control" id="lat" name="lat" placeholder="latitude">
          </div>
          <div class="col-sm-10"><input type="hidden" class="form-control" id="lng" name="lng" placeholder="longitude">
          </div>
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">
              <%= __('pv_EnrollWH_wh_img')%>
              <a style="color: #f96332;">*</a>
            </label>
            <div class="col-sm-7">
              <input
                type="text"
                class="form-control"
                id="img_name"
                name="img_name"
                readonly="readonly"
                disabled="disabled"
                placeholder="<%= __('pv_EnrollWH_wh_img_ph')%>">
            </div>
            <div class="col-sm-2">
              <label class="form-control btn-main" for="profile_img" style="text-align:center;">
                <%= __('pv_EnrollWH_upload_img')%>
              </label>
              <input
                type='file'
                class="upload-btn-hidden"
                id='profile_img'
                name='profile_img'
                accept='image/*'
                multiple />
            </div>
          </div>
          <div class="center-wrap">
            <input
              type="submit"
              class="btn btn-main"
              id="enrollBtn"
              value="<%= __('pv_EnrollWH_submit')%>">
          </div>
        </form>
      </div>
    </section>
    <footer>
      <%- include('../../footer') %>
    </footer>
  </div>
</body>

<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  $(document).ready(function () {
    var imgTarget = $("#profile_img");
    imgTarget.on("change", function () { // 값이 변경되면
      if (window.FileReader) { // modern browser
        var imgname = $(this)[0].files[0].name;
      } else { // old IE
        var imgname = $(this).val().split('/').pop().split('\\').pop(); // 파일명만 추출
      } // 추출한 파일명 삽입
      $("#img_name").val(imgname);

    });
  });

  function sample4_execDaumPostcode() {
    console.log("clicked")
    new daum.Postcode({
      oncomplete: function (data) {
        var roadAddr = data.roadAddress;
        document.getElementById("zipcode").value = data.zonecode;
        document.getElementById("address").value = data.roadAddressEnglish;
        var baseAPIUrl = 'https://maps.googleapis.com/maps/api/geocode/json?address=';
        baseAPIUrl = baseAPIUrl + roadAddr + "&key=" + "<%= process.env.GOOGLE_MAP_GEOCODING_KEY %>"
        $.ajax({
          url: baseAPIUrl,
          type: "GET",
          success: function (data) {
            console.log(baseAPIUrl)
            document.getElementById("lat").value = data.results[0].geometry.location.lat;
            document.getElementById("lng").value = data.results[0].geometry.location.lng;
          }
        });
      }
    }).open();
  }
</script>

</html>