<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <%- include('../head') %>
  <script src="https://cdn.rawgit.com/mgalante/jquery.redirect/master/jquery.redirect.js"></script>
</head>

<body>
  <div class="wrap">
    <header>
      <%- include('../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');"></div>
      </div>
    </header>
    <section>
      <div class="container">
        <h2 class="mt-5 mb-3">
          <%= __('IotWHInfo_wh_info')%>  
        </h2>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_wh_id')%>
              </th>
              <td><%= WHitems.warehouseID %></td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_wh_name')%>
              </th>
              <td><%= WHitems.warehouseName %></td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_zip')%>
              </th>
              <td><%= WHitems.zipcode %></td>
            </tr>
            <tr>
              <th rowspan="2" class="thead-dark-vertical">
                <%= __('IotWHInfo_address')%>
              </th>
              <td><%= WHitems.address %></td>
            </tr>
            <tr>
              <td><%= WHitems.addressDetail %></td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_email')%>
              </th>
              <td><%= WHitems.warehouseEmail %></td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_tel')%>
              </th>
              <td><%= WHitems.warehouseTEL %></td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_reg_date')%>
              </th>
              <td><%= WHitems.enrolledDate %></td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_land_area')%>
              </th>
              <td><%= WHitems.landArea %> m<sup>2</sup></td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_floor_area')%>
              </th>
              <td><%= WHitems.floorArea %> m<sup>2</sup></td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_usable_area')%>
              </th>
              <td><%= WHitems.useableArea %> m<sup>2</sup></td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_price_per')%>
              </th>
              <td><%= WHitems.perprice %> $</td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_info')%>
              </th>
              <td><%= WHitems.infoComment %></td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_etc')%>
              </th>
              <td><%= WHitems.etcComment %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% if (session.type === 'admin') { %>
      <div class="container">
        <h2 class="mt-5 mb-3">
          <%= __('IotWHInfo_pv_info')%>
        </h2>
        <table class="table table-bordered">
          <tbody>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_pv_id')%>
              </th>
              <td><%= PVitems.memberID %></td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_pv_name')%>
              </th>
              <td><%= PVitems.name %></td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_national')%>
              </th>
              <td><%= PVitems.national %></td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_zip')%>
              </th>
              <td><%= PVitems.zipcode %></td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_address')%>
              </th>
              <td><%= PVitems.address %></td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_email')%>
              </th>
              <td><%= PVitems.email %></td>
            </tr>
            <tr>
              <th class="thead-dark-vertical">
                <%= __('IotWHInfo_email')%>
              </th>
              <td><%= PVitems.contactNumber %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <% } %>
    </section>
    <footer>
      <%- include('../footer') %>
    </footer>
  </div>
</body>
</html>
