<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../head') %>
</head>

<body class="login-page" style="overflow: auto;">
  <header>
    <%- include('../nav_Bar') %>
  </header>
  <section>
    <div>
      <div class="page-header clear-filter" filter-color="orange">
        <div class="page-header-image" style="background-image:url(/Image/about_WH.jpg)"></div>
        <div class="container" style="width: max-content;">
          <form role="form" id="regForm" onsubmit="return false;">
            <h1>Step2</h1>
            <h3><%= __('user_register_head') %></h3>
            <div class="mt-5 mb-4">
              <div class="form-group row">
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="memberID" name="memberID" placeholder="ID" />
                  <% if(locals.err){ %>
                  <span class="invalid-feedback"><%= locals.err %></span>
                  <% } %>
                </div>
                <div class="col-sm-3">
                  <label id="form-control-btn" class="form-control" for="idCheckButton"><%= __('user_idcheck') %></label>
                  <input type="button" class="upload-btn-hidden" id="idCheckButton" name="idCheckButton"
                    value="<%= __('user_idcheck') %>"><br>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-12">
                  <input type="text" name="type" id="type" value="<%= req.query.userType %>" style="display: none;">
                  <input type="password" class="form-control" id="password" name="password" placeholder="<%= __('user_pass') %>">
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-9">
                  <input type="password" class="form-control" id="passwordConfirmation" name="passwordConfirmation" placeholder="<%= __('user_passconfirm') %>" />
                  <% if(locals.err){ %>
                  <span class="invalid-feedback"><%= locals.err %></span>
                  <% } %>
                </div>
                <div class="col-sm-3">
                  <label id="form-control-btn" class="form-control" for="passwordCheckButton"><%= __('user_pwcheck') %></label>
                  <input type="button" class="upload-btn-hidden" id="passwordCheckButton" name="passwordCheckButton" value="<%= __('user_pwcheck') %>"><br>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="email" name="email" placeholder="<%= __('ad_email') %>" />
                  <% if(locals.err){ %>
                  <span class="invalid-feedback"><%= locals.err %></span>
                  <% } %>
                </div>
                <div class="col-sm-3">
                  <label id="form-control-btn" class="form-control" for="sendAuthCode"><%= __('user_Send_Auth_Code') %></label>
                  <input type="button" class="upload-btn-hidden" id="sendAuthCode" name="sendAuthCode"
                    value="<%= __('user_Send_Auth_Code') %>"><br>
                </div>
              </div>
              <div class="form-group row" id="div_auth" style="display: none;">
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="authCode" name="authCode" placeholder="<%= __('user_auth_code') %>" />
                  <% if(locals.err){ %>
                  <span class="invalid-feedback"><%= locals.err %></span>
                  <% } %>
                </div>
                <div class="col-sm-3">
                  <label id="form-control-btn" class="form-control" for="codeCheck"><%= __('user_check') %></label>
                  <input type="button" class="upload-btn-hidden" id="codeCheck" name="codeCheck" value="<%= __('user_check') %>"><br>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="name" name="name" placeholder="<%= __('user_name') %>" />
                </div>
                <div class="col-sm-5">
                  <input type="text" class="form-control" id="national" name="national" placeholder="<%= __('ad_national') %>" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-3">
                  <input type="text" class="form-control" id="zipcode" name="zipcode" placeholder="<%= __('ad_zipcode') %>" />
                </div>
                <div class="col-sm-9">
                  <input type="text" class="form-control" id="address" name="address" placeholder="<%= __('ad_address') %>" />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="contactNumber1" name="contactNumber1"
                    placeholder="<%= __('user_phone') %>" />
                </div>
                <!--<div style="width:25px; font-weight: bold; font-size: large;">_</div>-->
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="contactNumber2" name="contactNumber2" />
                </div>
                <!--<div style="width:25px; font-weight: bold; font-size: large;">_</div>-->
                <div class="col-sm-4">
                  <input type="text" class="form-control" id="contactNumber3" name="contactNumber3" />
                </div>
              </div>
            </div>
            <button type="submit" class="btn btn-main btn-round btn-lg" id="regFormBtn"><%= __('user_signup') %></button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <footer></footer>
</body>

<style>
  input {
    border: 1px solid #d4d4d4;
    height: 32px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 5px 15px;
  }
</style>


<script src="/JS/jquery.serializeObject.js"></script>
<script src="/JS/signUP.js"></script>
<!--이미지 위에 글자가 표시되게하기 위한 class -->
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script>
  function sample4_execDaumPostcode(flag) {
    new daum.Postcode({
      oncomplete: function (data) {
        var roadAddr = data.roadAddress;
        if (flag == 0) {
          document.getElementById("address").value = data.roadAddressEnglish;
        } else {
          document.getElementById("CA").value = data.roadAddressEnglish;
        }
      }
    }).open();
  }
</script>

</html>
