<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../head') %>
</head>

<body>
  <div class="wrap">
    <header>
      <%- include('../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');">
        </div>
      </div>
    </header>
    <section>
      <div class="container">
        <h2 class="mt-5 mb-3">
          <%= __('user_Help_how')%>
        </h2>
        <div class="help-container">
          <div class="btn-help-left" onclick=setDisplay(1)>
            <div class="eff-left"></div>
            <a id="help_a">
              <%= __('user_Help_help')%>
            </a>
          </div>
          <div class="btn-help-right" onclick=setDisplay(0)>
            <div class="eff-right"></div>
            <a id="faq_a">
              <%= __('user_Help_faq')%>
            </a>
          </div>
        </div>

        <div id="help" class="container">
          <ul id="help-list" class="list-feature">
            <% if(!session.memberID) { %>
            <img src="/Image/Help_Diagram.jpg" style="margin-top: 10px;">
            <%}%>
            <% if(session.memberID) { %>
            <% if(session.type=='provider') { %>
            <li>
              <a data-toggle="collapse" class="collapsed" href="#help1">
                <%= __('user_Help_reg_wh')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help1" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_reg_wh_content1')%><br>
                  - <%= __('user_Help_reg_wh_content2')%><br>
                  - <%= __('user_Help_reg_wh_content3')%><br>
                  - <%= __('user_Help_reg_wh_content4')%><br>
                  - <%= __('user_Help_reg_wh_content5')%><br>
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help2" class="collapsed">
                <%= __('user_Help_edit_wh')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help2" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_edit_wh_content1')%><br>
                  - <%= __('user_Help_edit_wh_content2')%><br>
                  - <%= __('user_Help_edit_wh_content3')%><br>
                  - <%= __('user_Help_edit_wh_content4')%><br>
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help3" class="collapsed">
                <%= __('user_Help_del_wh')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help3" class="collapse" data-parent="#help-list">
                <p><%= __('user_Help_del_wh_content')%></p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help4" class="collapsed">
                <%= __('user_Help_iot')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help4" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_iot_content1')%><br>
                  - <%= __('user_Help_iot_content2')%><br>
                  - <%= __('user_Help_iot_content3')%><br>
                  - <%= __('user_Help_iot_content4')%><br>
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help5" class="collapsed">
                <%= __('user_Help_wh_use')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help5" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_wh_use_content1')%><br>
                  - <%= __('user_Help_wh_use_content2')%><br>
                  - <%= __('user_Help_wh_use_content3')%><br>
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help6" class="collapsed">
                <%= __('user_Help_check_wh')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help6" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_check_wh_content1')%><br>
                  - <%= __('user_Help_check_wh_content2')%><br>
                  - <%= __('user_Help_check_wh_content3')%><br>
                  - <%= __('user_Help_check_wh_content4')%><br>
                </p>
              </div>
            </li>
            <% } else if(session.type=='buyer') {%>
            <li>
              <a data-toggle="collapse" href="#help7" class="collapsed">
                <%= __('user_Help_search')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help7" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_search_content1')%><br>
                  - <%= __('user_Help_search_content2')%><br>
                  - <%= __('user_Help_search_content3')%><br>
                  - <%= __('user_Help_search_content4')%><br>
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help8" class="collapsed">
                <%= __('user_Help_check_history')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help8" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_check_history_content1')%><br>
                  - <%= __('user_Help_check_history_content2')%><br>
                  - <%= __('user_Help_check_history_content3')%><br>
                  - <%= __('user_Help_check_history_content4')%><br>
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help9" class="collapsed">
                <%= __('user_Help_check_req')%>
                <i class="ion-android-remove"></i></a>
              <div id="help9" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_check_req_content1')%><br>
                  - <%= __('user_Help_check_req_content2')%><br>
                  - <%= __('user_Help_check_req_content3')%><br>
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help10" class="collapsed">
                <%= __('user_Help_pay')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help10" class="collapse" data-parent="#help-list">
                <p>- <%= __('user_Help_pay_content1')%><br>
                  - <%= __('user_Help_pay_content2')%><br>
              </div>
            </li>
            <% } else if(session.type=='admin') { %>
            <h2><%= __('user_Help_pv')%></h2>
            <li>
              <a data-toggle="collapse" class="collapsed" href="#help1">
                <%= __('user_Help_reg_wh')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help1" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_reg_wh_content1')%><br>
                  - <%= __('user_Help_reg_wh_content2')%><br>
                  - <%= __('user_Help_reg_wh_content3')%><br>
                  - <%= __('user_Help_reg_wh_content4')%><br>
                  - <%= __('user_Help_reg_wh_content5')%><br>
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help2" class="collapsed">
                <%= __('user_Help_edit_wh')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help2" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_edit_wh_content1')%><br>
                  - <%= __('user_Help_edit_wh_content2')%><br>
                  - <%= __('user_Help_edit_wh_content3')%><br>
                  - <%= __('user_Help_edit_wh_content4')%><br>
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help3" class="collapsed">
                <%= __('user_Help_del_wh')%>
                <i class="ion-android-remove"></i></a>
              <div id="help3" class="collapse" data-parent="#help-list">
                <p><%= __('user_Help_del_wh_content')%></p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help4" class="collapsed">
                <%= __('user_Help_iot')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help4" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_iot_content1')%><br>
                  - <%= __('user_Help_iot_content2')%><br>
                  - <%= __('user_Help_iot_content3')%><br>
                  - <%= __('user_Help_iot_content4')%><br>
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help5" class="collapsed">
                <%= __('user_Help_wh_use')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help5" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_wh_use_content1')%><br>
                  - <%= __('user_Help_wh_use_content2')%><br>
                  - <%= __('user_Help_wh_use_content3')%><br>
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help6" class="collapsed">
                <%= __('user_Help_check_wh')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help6" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_check_wh_content1')%><br>
                  - <%= __('user_Help_check_wh_content2')%><br>
                  - <%= __('user_Help_check_wh_content3')%><br>
                  - <%= __('user_Help_check_wh_content4')%><br>
                </p>
              </div>
            </li>
            <h2><%= __('user_Help_by')%></h2>
            <li>
              <a data-toggle="collapse" href="#help7" class="collapsed">
                <%= __('user_Help_search')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help7" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_search_content1')%><br>
                  - <%= __('user_Help_search_content2')%><br>
                  - <%= __('user_Help_search_content3')%><br>
                  - <%= __('user_Help_search_content4')%><br>
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help8" class="collapsed">
                <%= __('user_Help_check_history')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help8" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_check_history_content1')%><br>
                  - <%= __('user_Help_check_history_content2')%><br>
                  - <%= __('user_Help_check_history_content3')%><br>
                  - <%= __('user_Help_check_history_content4')%><br>
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help9" class="collapsed">
                <%= __('user_Help_check_req')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help9" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_check_req_content1')%><br>
                  - <%= __('user_Help_check_req_content2')%><br>
                  - <%= __('user_Help_check_req_content3')%><br>
                </p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#help10" class="collapsed">
                <%= __('user_Help_check_pay')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="help10" class="collapse" data-parent="#help-list">
                <p>
                  - <%= __('user_Help_check_pay_content1')%><br>
                  - <%= __('user_Help_check_pay_content2')%><br>
                </p>
              </div>
            </li>
            <% } %>
            <% } %>
          </ul>
        </div>

        <div id="faq" class="container" style="display: none;">
          <ul id="faq-list" class="list-feature">
            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq1">
                <%= __('user_Help_update_user')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="faq1" class="collapse" data-parent="#faq-list">
                <p>- <%= __('user_Help_update_user_content1')%><br>
                - <%= __('user_Help_update_user_content2')%></p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#faq2" class="collapsed">
                <%= __('user_Help_forgot')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="faq2" class="collapse" data-parent="#faq-list">
                <p><%= __('user_Help_forgot_content')%></p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#faq3" class="collapsed">
                <%= __('user_Help_area')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="faq3" class="collapse" data-parent="#faq-list">
                <p><%= __('user_Help_area_content')%></p>
              </div>
            </li>
            <li>
              <a data-toggle="collapse" href="#faq4" class="collapsed">
                <%= __('user_Help_how_pay')%>
                <i class="ion-android-remove"></i>
              </a>
              <div id="faq4" class="collapse" data-parent="#faq-list">
                <p><%= __('user_Help_how_pay_content')%></p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </section>
    <footer>
      <%- include('../footer') %>
    </footer>
  </div>
</body>

</html>

<script>
  function setDisplay(val) {
    if (val == 1) { //val==1 faq
      document.getElementById("faq_a").style.textDecoration="none";
      document.getElementById("help_a").style.textDecoration="underline";
      $('#help').show();
      $('#faq').hide();
    }
    if (val == 0) { //val==0 help
      document.getElementById("faq_a").style.textDecoration="underline";
      document.getElementById("help_a").style.textDecoration="none";
      $('#help').hide();
      $('#faq').show();
    }
  }
</script>