<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('../../head') %>
        <script src="https://cdn.rawgit.com/mgalante/jquery.redirect/master/jquery.redirect.js"></script>
</head>

<body>
    <div class="wrap">
        <header>
            <%- include('../../nav_Bar') %>
                <div class="page-header page-header-small">
                    <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');"></div>
                </div>
        </header>
        <section>
            <div class="container-info">
                <h2 class="mb-3"><%= __('ad_IoTTest_ct') %></h2>
                <div class="form-group row">
                    <div class="col-sm-11">
                        <input type="text" class="form-control" id="iotServer" placeholder="<%= __('ad_IoTTest_inputiot')>          ex) http://localhost:5000">
                        <br>
                        <input type="text" class="form-control" id="cctvServer" placeholder="<%= __('ad_IoTTest_inputcctv')>          ex) http://localhost:5000">
                    </div>
                </div>
                <div class="center-wrap">
                    <button class="btn btn-td btn-info" id="btn_test" onclick="adClick('Test')"><%= __('ad_IoTTest_test')></button>
                    <button type="button" class="btn btn-td btn-danger btn-two-r ml-1" id="btn_reject" onclick="adClick('Reject')"><%= __('Reject') %></button>
                    <button type="button" class="btn btn-td btn-success btn-two-r ml-1" id="btn_approve" onclick="adClick('Approve')"><%= __('Approve') %></button>
                </div>
                <input type="hidden" id="wid" value="<%= wid %>">
            </div>
        </section>
        <footer>
            <%- include('../../footer') %>
        </footer>
    </div>
</body>

<script src="/JS/alerts.js"></script>
<script src="/JS/ad_RequestIoT.js"></script>

</html>