<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('../../head') %>
</head>

<body>
  <div class="wrap">
    <header>
      <%- include('../../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');"></div>
      </div>
    </header>
    <section>
      <div class="container">
        <h2 class="mt-5 mb-3">Usage History</h2>
        <table class="board-table table">
          <thead class="thead-dark">
            <tr>
              <th>Req ID</th>
              <th>Warehouse ID</th>
              <th>Buyer ID</th>
              <th>Rental Period</th>
              <th>Rental Area</th>
              <th>Price</th>
              <th>IoT</th>
              <th>Info</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < Object.keys(items).length; i++) { %>
            <tr class="table-basic">
              <td id="reqID<%= i %>" ><%= items['item' + i].reqID %></td>
              <td id="whID<%= i %>" ><%= items['item' + i].warehouseID %></td>
              <td id="buyerID<%= i %>" ><%= items['item' + i].buyerID %></td>
              <td id="Period<%= i %>" ><%= items['item' + i].startDate %> ~ <%= items['item' + i].endDate %></td>
              <td id="area<%= i %>" ><%= items['item' + i].area %> m<sup>2</sup></td>
              <td id="amount<%= i %>"><%= items['item' + i].amount %> </td>
              <% if (items['item' + i].iotStat == "Y"){ %>
              <td id="td-btn">
                <form action="/IoT" method="POST">
                  <input id="wid" name="wid" type="hidden" value="<%= items['item' + i].warehouseID %>">
                  <button class="btn btn-td btn-main">IoT Page</button>
                </form>
              </td>
              <% } else if (items['item' + i].iotStat == "W"){ %>
              <td id="td-btn">Pending Approval</td>
              <% } else if (items['item' + i].iotStat == "N"){ %>
              <td id="td-btn">Not Currently Used</td>
              <% } %>
              <td id="td-btn">
                <form action="/Admin/UsageHistory/INFO" method="POST">
                  <input id="reqID" name="reqID" type="hidden" value="<%= items['item' + i].reqID %>">
                  <button class="btn btn-td btn-info">INFO</button>
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </section>
    <footer>
      <%- include('../../footer') %>
    </footer>
  </div>
</body>

</html>
