<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
  <%- include('../../head') %>
</head>

<body>
  <div class="wrap">
    <header>
      <%- include('../../nav_Bar') %>
      <div class="page-header page-header-small">
        <div class="page-header-image" data-parallax="true" style="background-image: url('/Image/about_WH.jpg');"></div>
      </div>
    </header>
    <section>
      <div class="container">
        <h2 class="mt-5 mb-3">Warehouse List</h2>
        <table class="board-table table " id="myWH">
          <thead class="thead-dark">
            <tr>
              <th>Warehouse ID</th>
              <th>Warehouse Name</th>
              <th>Member ID</th>
              <th>IoT</th>
              <th>Info</th>
            </tr>
          </thead>
          <tbody>
            <% for(var i = 0; i < Object.keys(WHList).length; i++) { %>
            <tr class="table-basic" id='#row<%= i %>'>
              <td><%= WHList['item' + i].warehouseID %></td>
              <td><%= WHList['item' + i].warehouseName %></td>
              <td><%= WHList['item' + i].memberID %></td>
              <% if (WHList['item' + i].iotStat == "Y"){ %>
              <td id="td-btn">
                <form action="/iot" method="POST">
                  <input id="wid" name="wid" type="hidden" value="<%= WHList['item' + i].warehouseID %>">
                  <button class="btn btn-td btn-main">IoT Page</button>
                </form>
              </td>
              <% } else if (WHList['item' + i].iotStat == "W"){ %>
              <td>Pending Approval</td>
              <% } else if (WHList['item' + i].iotStat == "N"){ %>
              <td>Not Currently Used</td>
              <% } %>
              <td id="td-btn">
                <form action="/Admin/WHinfo" method="POST">
                  <button class="btn btn-td btn-info">INFO</button>
                  <input id="warehouseID" name="warehouseID" type="hidden" value="<%= WHList['item' + i].warehouseID %>">
                </form>
              </td>
            </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </section>
    <footer>
      <%- include('../../footer') %>
    </footer>
  </div>
</body>

</html>
